html {
  color: #532763;
  background-color: #9f97a5;
}

/*body {
  font-family: Arial, sans-serif;
  line-height: ;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
}

#content {
  width: 60%;
  /- Largura do conteúdo principal -/
  margin-left: 24%;
  margin-right: 24%;
  padding: 20px;
}

#sidebar {
  width: 20%;
  /- Largura da barra lateral -/
  background-color: #f4f4f4;
  padding: 20px;
  border-left: 1px solid #ddd;
  position: fixed;
  /- Permite a fixação do elemento -/
  top: 50%;
  /- Centraliza verticalmente a partir do topo -/
  transform: translateY(-50%);
  /- Ajusta a posição para centralizar completamente -/
  height: 50vh;
  /- Altura fixa (80% da altura da janela de visualização) -/
  overflow-y: auto;
  /- Adiciona uma barra de rolagem vertical quando necessário -/
  margin-bottom: 20px;
  /- Adiciona margem inferior para evitar corte de conteúdo -/
}

h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
  /- Espaçamento entre os itens da lista -/
}

ul ul {
  padding-left: 20px;
  /- Indentação da sub-lista -/
  background-color: #cccccc;
}*/